body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: sans-serif;
  line-height: 2;
  background: #11001c;
}

.wrapper {
  width: 400px;
  height: 80vh;
  padding: 20px;
  border: 1px solid black;
  background: white;
  display: grid;
  grid-template-rows: 1fr auto;
}

.tc-section {
  font-weight: bold;
}

button {
  background: #3a015c;
  color: white;
  font-size: 1rem;
  padding: 20px;
  transition: all 0.2s;
  border: none;
}

button:hover {
  box-shadow: 0px 8px 3px -4px #808080;
}

button[disabled] {
  opacity: 0.2;
  background: #3a015c;
  box-shadow: none;
}

.terms-and-conditions {
  overflow: scroll;
}
